.cards{
    flex-wrap: wrap;
    justify-content: space-around;
}

.title{
    text-align: center;
    padding-top: 20px;
}

#profile{
    box-shadow: 1px 1px 1px 1px rgb(202, 201, 201);
    padding: 30px;
}

.username{
    font-size: 18px;
    font-weight: bold;
}